.detail{
    display: flex;
    align-items: center;
    margin-top: 5%;
}

.detailImg{
    width: 100%;
}

.detailImg img{
    margin-left: 30%;
}

.detailList{
    width: 100%;
}

.detailList ul li{
    list-style-type: none;
    margin: 20px 0;
    font-size: 1.4rem;
    font-weight: bold;
}

.detailList ul li span{
    font-size: 1.2rem;
}

.detailPage{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 5%;
    margin-left: 20%;

}

.btn{
    margin-top: 50px;
    display: flex;
    margin-left: 35%;
}

@media (max-width:576px){
    .detail{
        flex-direction: column;
        align-items: center;
    }

    .detailPage{
        grid-template-columns: 1fr;
    }

    .image{
        width: 320px;
        height: 450px;
    }
}